*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body
{
  font-family: 'Inter', sans-serif;
  max-width: 375px;
  border: 2px solid red;
}


/* The header of the project */
.header {
  padding: 20px;
  display: flex; 
  align-items: center;
  justify-content: space-between; 
  font-size: 20px;
}

/* The headline of the project */

.headlines {
  margin-top: 30px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.headlines h1 {
  font-size: 40px;
  font-weight: 700;
}
.headlines p {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 400;
}
.myname {
  color:#172B4D;
}
.myjob {
  color:#36B37E;;
}

/* The social icons */
.social-media-icons nav {
  justify-content: center;
  display:flex;
}
.social-media-icons a{
  padding: 10px;
}