@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  max-width: 375px;
  border: 2px solid red;
}

/* The header of the project */

.header a {
  font-size: 20px;
  font-weight: 600;
  color: #28352f;
}

.toolbar {
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuicon {
  text-decoration: none;
}

/* The headline of the project */

.headlines {
  background-image: url(socialicons/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: 375px 540px;
  background-position: center;
  margin-top: 35px;
  padding: 24px;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headlines h1,
h2 {
  font-size: 40px;
  font-weight: 700;
}

.headlines p {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}

.myname {
  color: #172f4d;
}

.myjob {
  color: #36b37e;
}

/* The social icons */

.social-media-icons ul {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}

.social-media-icons li {
  padding: 10px;
  list-style: none;
}

  /* My works */

  .my-works {
    padding: 25px 15px 25px 25px;
    text-align: center;
    display: grid;
    grid-template-rows: 100px 50px repeat(6, 1fr);
    gap: 20px;
  }

  .my-works h2 {
    font-size: 40px;
    font-weight: 700;
    color: #172B4D;
  }
  .center {
    margin: 0 auto;
    border-radius: 24px;
  }

  .container {
    /* margin-top: 100px; */
    border: 2px solid #D0D9D4;
    border-radius: 8px;
  }
  .card img {
    width: 327px;
    height: 252px;

  }
 

      /* multi-post stories job */
  .post-stories {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-radius: 8px;
  }

  .post-stories h4 {
   font-weight: 600;
   font-size: 24px;
   color: #3A4A42;
   padding: 16px;
  }

  .my-works ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
  }

  ul > li {
    list-style: none;
    font-size: 12px;
    font-weight: 600;
    background-color: #EBF0EE;
    padding: 8px 10px;
    border-radius: 4px;
    letter-spacing: 1px;
  }
  
  .project-btn {
    font-weight: 500;
    font-size: 17px;
    padding: 12px;
    border: 1px solid #36B37F;
    border-radius: 4px;
    color: #FFFFFF;
    background-color: #36B37F;
    margin: 10px auto 25px auto;
    letter-spacing: 1px;
  }

  .project-btn:hover {
    background-color: rgb(205, 248, 247);
    color: black;
  }
  
    /* About me  */

    .about-me { 
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 24px;
    }

     .bio-text h2 {
      font-size: 40px;
      font-weight: 700;
      color: #172B4D;
     }

.bio-text p {
  line-height: 32px;
  font-size: 20px;
  font-weight: 400;
  color: #42526E;
  margin: 25px 0 15px 0;
}

.about-card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  background-color: #EBF0EE;
  gap: 30px;
  padding-bottom: 70px;
}

.about-card .image {
background-color: #FFFFFF;
padding: 15px;
border-radius: 50%;
}

.about-card h4 {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #344563;
}

.lists ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 4px;
}

.about-card ul > li {
  background-color: #FFFFFF;
  color: #36B37E;
}
