@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  width: 375px;
  background-image: url("./socialicons/contact-form.svg");
  background-repeat: no-repeat;
  background-position: 315px 6140px;
}

/* The header of the project */

.header a {
  font-size: 20px;
  font-weight: 600;
  color: #28352f;
}

.toolbar {
  padding: 5px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.menuicon {
  text-decoration: none;
}

.navbar ul {
  display: none;
}

/* The headline of the project */

.headlines {
  background-image: url(socialicons/header-illsutration-mobile@2x.png);
  background-repeat: no-repeat;
  background-size: 375px 540px;
  background-position: center;
  margin-top: 35px;
  padding: 24px;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.headlines h1,
h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.headlines p {
  margin-top: 40px;
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 400;
}

.myname {
  color: #172f4d;
}

.myjob {
  color: #36b37e;
}

/* The social icons */

.social-media-icons ul {
  margin-top: 20px;
  justify-content: center;
  display: flex;
  align-items: center;
}

.social-media-icons li {
  padding: 10px;
  list-style: none;
}

.desktop-navs > a {
  transition: all 0.5s;
}

.social-media-icons ul li > a {
  transition: all 0.5s;
}

.post-stories ul > li,
.lists ul > li {
  list-style: none;
  font-size: 12px;
  font-weight: 600;
  background-color: #ebf0ee;
  padding: 8px 10px;
  border-radius: 4px;
  letter-spacing: 1px;
}

#chevron {
  margin-top: 50px;
}

/* My works */

.my-works {
  padding: 25px 15px 25px 25px;
  text-align: center;
  display: grid;
  grid-template-rows: 120px 50px repeat(6, 1fr);
  justify-content: center;
  gap: 20px;
  margin-top: 0;
}

.my-works h2 {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  line-height: 52px;
  padding: 24px;
}

.center {
  margin: 0 auto;
  border-radius: 24px;
}

.container {
  border: 2px solid #d0d9d4;
  border-radius: 8px;
  width: 369px;
  height: 474px;
}

.card {
  height: 250px;
}

.card img {
  width: 366px;
  height: 250px;
}

/* popup window */

.card-work-mobile {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 16px;
  gap: 12px;
  position: fixed;
  margin: 10px;
  box-sizing: border-box;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  width: 350px;
  left: 50%;
  transform: translate(-50%);
}

.card-work-mobile .close-detail-mobile {
  position: absolute;
  right: 37px;
  top: 37px;
}

.card-work-mobile .card-name-mobile {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.card-work-mobile .card-tags {
  display: flex;
  flex-direction: row;
  padding: 0;
  gap: 8px;
  list-style: none;
  background: #fff;
  justify-content: start;
}

.about-card ul > li {
  background-color: #fff;
  color: #36b37e;
}

.card-work-mobile .card-tags li {
  padding: 0.5em;
  background: #ebf0ee;
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #3a4a42;
}

.card-work-mobile .card-button-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-work-mobile .livebtn-mobile,
.card-work-mobile .sourcebtn-mobile {
  align-items: center;
  text-align: center;
  background-color: #36b37f;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  font-size: 17px;
  color: #fff;
  padding: 12px;
  gap: 10px;
  letter-spacing: 0.03em;
  line-height: 24px;
  text-decoration: none;
}

.card-work-desktop {
  display: none;
}

/* multi-post stories job */

.post-stories {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 8px;
  width: 366px;
  height: 221px;
}

.post-stories h4 {
  font-weight: 600;
  font-size: 24px;
  color: #3a4a42;
  padding: 16px;
}

.my-works ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.project-btn {
  font-weight: 500;
  font-size: 17px;
  padding: 12px;
  border: 1px solid #36b37f;
  border-radius: 4px;
  color: #fff;
  background-color: #36b37f;
  margin: 10px auto 25px auto;
  letter-spacing: 1px;
}

.project-btn:hover {
  background-color: rgb(205, 248, 247);
  color: black;
}

.project-btn:active {
  background-color: #008552;
  color: #fff;
}

/* About me  */

.about-me {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.bio-text {
  background-image:

    url("socialicons/illustration\ 1-\ about\ me-mobile.svg"),
    url("socialicons/illustration\ 2-about\ me\ mobile.svg");
  background-repeat: no-repeat;
  background-position: 300px -10px, 1px 319px;
}

.bio-text h2 {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  margin-top: 40px;
}

.bio-text p {
  line-height: 32px;
  font-size: 20px;
  font-weight: 400;
  color: #42526e;
  margin: 25px 0 15px 0;
  padding: 0 15px 0 15px;
}

.about-card {
  width: 366px;
  height: 352px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  padding: 24px;
  align-items: center;
  background-color: #ebf0ee;
  gap: 30px;
  padding-bottom: 70px;
  margin: auto 24px;
  border: 1px solid #c1c7d0;
}

.about-card .image {
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
}

.about-card h4 {
  margin-top: 50px;
  font-size: 24px;
  font-weight: 600;
  color: #344563;
}

.lists ul {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 4px;
}

/* contact section  */

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#contact h3 {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
  margin: 50px 24px;
}

#contact-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-padding {
  width: 327px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
}

#message {
  border: 1px solid #60c095;
  font-family: inherit;
}

#message::placeholder {
  color: #091e42;
}

#footer {
  text-align: center;
  margin-bottom: 250px;
  margin-top: -10px;
}

#footer-email {
  text-decoration: none;
  color: #42526e;
}

#overlay {
  position: fixed;
  opacity: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}

@media (min-width: 768px) {
  body {
    width: 100%;
  }

  .mobile {
    display: none;
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 24px;
    gap: 24px;
  }

  .navbar li a {
    text-decoration: none;
  }

  .wrapper {
    background-image: url("socialicons/Header-llustration-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }

  .headlines {
    background-image: none;
    width: 100%;
    height: 100vh;
    padding: 160px 0;
  }

  .headlines h1,
  h2 {
    font-size: 48px;
    line-height: 60px;
  }

  .headlines p {
    line-height: 32px;
    width: 56%;
  }

  /* popup window below here  */

  .card-work-mobile {
    display: none;
  }

  #overlay {
    position: fixed;
    opacity: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    pointer-events: none;
  }

  #overlay.active {
    pointer-events: all;
    opacity: 1;
  }

  .card-work-desktop {
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    padding: 16px;
    gap: 12px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
  }

  .card-work-desktop .close-detail-desktop {
    position: absolute;
    right: 24px;
    top: 22px;
  }

  .card-image-details-desktop {
    padding-top: 40px;
  }

  .popup-title-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card-work-desktop .card-name-desktop {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .card-work-desktop .card-tags {
    margin-left: 0;
    display: flex;
    list-style: none;
    gap: 5px;
  }

  .card-work-desktop .card-tags li {
    background: #ebecf0;
    border-radius: 8px;
    padding: 8px 12px;
  }

  .card-work-desktop .card-button-desktop {
    display: flex;
  }

  .card-button-desktop .btn-container {
    display: flex;
    width: 160px;
    justify-content: space-between;
    align-items: center;
  }

  .card-work-desktop .livebtn-desktop,
  .card-work-desktop .sourcebtn-desktop {
    align-items: center;
    text-align: center;
    background-color: #36b37f;
    border-radius: 4px;
    border: none;
    font-weight: 500;
    font-size: 17px;
    color: #fff;
    padding: 12px;
    gap: 10px;
    letter-spacing: 0.03em;
    line-height: 24px;
    text-decoration: none;
  }

  /* popup window above here  */

  .my-works {
    grid-template: 100px 474px 474px / repeat(3, 366px);
    margin-top: 100px;
  }

  .my-works h2 {
    grid-column: 1 / 4;
  }

  .center {
    display: none;
  }

  .about-me {
    display: grid;
    justify-content: center;
    gap: 20px;
    grid-template: 450px 352px / repeat(3, 366px);
    width: 100%;
    background-image: url("socialicons/about-me-desktop.svg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
  }

  .bio-text {
    grid-column: 1 / 4;
    margin: 100px 0;
    width: 100%;
    background-image: none;
  }

  .bio-text p {
    margin: 15px 170px;
  }

  #contact {
    display: grid;
    justify-content: center;
    grid-template-columns: 463px 684px;
    gap: 15px;
    background-image: url("socialicons/contact-form-desktop.svg");
    background-repeat: no-repeat;
    height: 800px;
    background-position: bottom;
  }

  #contact h3 {
    font-size: 30px;
    line-height: 52px;
    width: 463px;
    height: 256px;
    margin: 0;
    padding: 0;
  }

  .input-padding {
    width: 684px;
    height: 48px;
  }

  #message {
    height: 114px;
  }

  .touch-btn {
    margin-left: 0;
  }

  #footer {
    border-top: 1px solid #dfe1e6;
    margin-bottom: 20px;
  }

  #footer-email {
    display: none;
  }
}

/* The animation part of the project  */

.desktop-navs > a:hover {
  font-size: 22px;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #172f4d;
  color: #36b37e;
}

.social-media-icons ul li > a:hover {
  transform: scale(2.5);
  padding: 12px;
  border-radius: 50%;
  background: aquamarine;
}
